/* CSS cho .loginsignup */
.loginsignup {
    width: 100%;
    height: auto;
    min-height: 100vh; /* Thay đổi min-height thành 100vh */
    background: #fce3fe;
    padding-top: 50px;
    overflow: hidden;
}

/* CSS cho .loginsignup-container */
.loginsignup-container {
    width: 90%;
    max-width: 580px;
    height: auto;
    background: white;
    margin: auto;
    padding: 40px 20px; /* Thay đổi padding thành 40px 20px */
}

.loginsignup-container h1 {
    margin: 20px 0px;
}

/* CSS cho .loginsignup-fields */
.loginsignup-fields {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Giảm khoảng cách giữa các trường nhập */
    margin-top: 30px;
}

.loginsignup-fields input {
    height: 52px; /* Giảm chiều cao của input */
    padding: 0px 20px; /* Thay đổi padding thành 0px 20px */
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}

/* CSS cho .loginsignup-container button */
.loginsignup-container button {
    width: 100%; /* Thay đổi width thành 100% */
    height: 52px;
    color: white;
    background: #ff4141;
    margin-top: 20px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

/* CSS cho .loginsignup-login */
.loginsignup-login {
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}

.loginsignup-login span {
    color: #ff4141;
    font-weight: 600;
}

/* CSS cho .loginsignup-agree */
.loginsignup-agree {
    display: flex;
    align-items: center;
    margin-top: 20px; /* Giảm margin-top thành 20px */
    gap: 10px; /* Giảm khoảng cách giữa các phần tử */
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}
