.cartitems {
    margin: 100px auto; 
    min-height: 100vh;
    width: 80%; 
}

.cartitems hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
}

.cartitems-fromat-main{
    display: grid;
    grid-template-columns: 0.9fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 80px;
    padding: 20px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}

.cartitems-format{
    font-size: 16px;
    font-weight: 500;
}

.carticon-product-icon{
    height: 100px;
}

.cartitems-remove-icon{
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}

.cartitems-quantity{
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb;
    background: #fff;
}
.cartitems-down{
    display: flex;
    margin: 100px 0px;
}

.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px; /* Thêm khoảng cách giữa các phần tử */
}

.cartitems-total-item{
    display: flex;
    justify-content: space-between; /* Sửa lỗi chính tả ở đây */
    padding: 0px; /* Thay đổi padding thành 0 */
    margin-bottom: 15px; /* Sử dụng margin thay vì padding để tạo khoảng cách */
}

.cartitems-total button{
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.cartitems-promocde{
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}

cartitems-promocde P{
    color: #555;
}

.cartitems-promobox{
    width: 504px;
    margin-top: 15px;
    padding-left: 20px;
    height: 58px;
    backgournd: #eaeaea;
}

.cartitems-promobox input {
    border: 1px solid #ff5a5a; /* Màu và độ rộng của viền */
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 350px;
    height: 34px;
    margin-right: 10px; /* Thêm margin để cách phần tử button */
}

.cartitems-promobox button {
    width: 130px;
    height: 38px;
    font-size: 16px;
    background: black;
    color: white;
    cursor: pointer;
}

.button{
    display: flex;
    justify-content: space-between; 
    flex-wrap: nowrap;
    flex-direction: row;

}

.button > div {
    width: 100px;
    flex-basis: 45%;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }